body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.content{
    font-size: 10px;
    line-height: 10px;
    background: url(/images/logo2.gif) fixed center no-repeat;
}
.content{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .1);
}